<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'">
    <meta name="metro4:init" content="false">
    <meta name="metro4:locale" content="es-MX">
    <link rel="stylesheet" href="../../../node_modules/metro4/build/css/metro-all.min.css">
    
    <!--<link href="../../plugins/photon/css/photon.min.css" type="text/css" rel="stylesheet">-->
    <link rel="stylesheet" href="../../../node_modules/xel/themes/vanilla.css">
    <link rel="stylesheet" href="../../plugins/system/css/style.css">    
    <script src="../../../node_modules/xel/xel.min.js"></script>    
    <script src="../../../node_modules/metro4/build/js/metro.min.js"></script>

    <title></title>
  </head>
  <body style="--accent-color-h:147; --accent-color-s:50%; --accent-color-l:47%;" >
    
    <div class="window-photon no-border">
      <header class="toolbar-header">
        <h1 class="title">Inventario</h1>        
      </header>

      <div class="window-content">
        <div class="pane-group">
          <div class="pane-sidebar">                        
            <sidebar id="sidebar" style="margin-left: 0px;">
              <nav id="nav">
                <section id="fornav_container" data-toggle="almacen" data-child="inventario">                     
                </section>
              </nav>
            </sidebar>
          </div>
          <div class="pane p-3">            
            <h4 class="header">Inventario</h4>           
            <div class="for_container">           

            </div>
          </div>
        </div>
      </div>  
      
      <footer class="toolbar-footer">
        <h1 class="title">ADoctor derechos reservados 2020</h1>
      </footer>
    </div>




   
    
  </body>
</html>
